.header-top {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 22px;
}

.header-body {
    display: flex;
}

/* .header-body-left-title,
.header-body-left-subtext {
    max-width: 400px;
}
*/
.header-body-right {
    max-height: auto;
    margin-left: 125px;
}

img {
    max-width: 516px;
}

.header-body-left {
    max-width: 440px;
    margin-left: 100px;
}

.header-body button {
    margin-top: 20px;
    background-color: #3882f6;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 7px;
    width: 150px;
    border-style: none;
}
.header-body {
    padding-bottom: 100px;
}

.main-cards h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card {
    max-width: 200px;
}

.card img {
    width: 200px;
    border-radius: 20px;
    outline: 3px solid #3882f6;
}

.cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
}

.testimonial-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    
}

.testimonial-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.testimonial-author {
    color: #1F2937;
    font-size: 23px;
    font-weight: bold;
    align-self: flex-end;
}

.bottom-container {
    padding: 88px 111px;
}

.container-text {
    display: flex;
    background-color: #3882f6;
    border-radius: 4px;
    color: #F9FAF8;
    padding: 44px;
    justify-content: space-around;
}

.container-btn {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 3px 25px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 50px;
    color: #F9FAF8;
}

* {
    /* outline: 2px solid red; */
    padding: 0 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.header {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


.header-body-left-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-body-left-subtext,
.header-top a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-top a {
    text-decoration: none;
}